<mat-toolbar color="primary" fxLayoutGap="8px">
<button mat-icon-button><mat-icon>menu</mat-icon></button>
<mat-icon svgIcon="tcicon"></mat-icon>
 <a mat-button routerLink="/home"><mat-icon svgIcon="tcicon"></mat-icon><h1>TCIpm</h1></a>
 <span class="flex-spacer"></span>
 <button mat-mini-fab routerLink="/tennants/profile" aria-lable="Tennant Profile"><mat-icon>account_circle</mat-icon></button>
 <button mat-mini-fab routerLink="/tennants/logout" aria-lable="Logout"><mat-icon>lock_open</mat-icon></button>
 </mat-toolbar>
 <router-outlet></router-outlet>
