html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vertical-margin {
  margin-top: 16px;
  margin-bottom: 16px;
}

.horizontal-padding {
  margin-left: 16px;
  margin-right: 16px;
}

.flex-spacer {
  flex: 1 1 auto;
}

.right {
  text-align: right;
}

.unit {
  vertical-align: super;
}
